img {
    vertical-align: middle;
    width: auto;
    max-height: auto;
    max-width: auto;
}

body {
    z-index: 0;
}

#splashRPM {
    display: none;
    /*margin-top: -16em !important;*/
}

#header-image-container {
    display: inline-block;
    max-width: 100%;
    padding: 0 30%;
    background: rgba(18, 31, 31, .5);
    float: right;
}

.header-image {
    max-width: 100%;
    height: auto;
}

.affix {
    top: 0px !important;
    position: fixed !important;
}

#sidebar-container.affix {
    top: 4em !important;
}

a:link, a:visited {
    font-weight: bold;
    color: #000000;
    text-align: center;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
}

ul a:hover {
    color: #bd8100;
    background-color: #364c63;
    transition: background-color .33s;
}

ul a:active {
    color: #bd8100;
}

.entry p a img {
    max-width: 100%;
    height: auto;
}

.splashpage-featured {
    position: fixed;
    background-color: transparent !important;
    vertical-align: bottom;
    -webkit-font-smoothing: antialiased;
    z-index: -1;
    top: -1px;
}

.social-media {
    height: 35px;
    width: auto;
}


/*-------------------------------------------------------------------------------------------*/


/* 2. Top Nav */


/*-------------------------------------------------------------------------------------------*/

#top-nav>li>a {
    font: 300 12px/1.6em 'PT Sans', arial, sans-serif;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    padding: 1em;
    color: #ddd;
    display: block;
}

#top-nav>li {
    padding: auto;
    float: left;
    display: inline;
}

#top-nav {
    padding-left: 0;
    margin: inherit;
}

#top>#top-nav-container {
    float: right;
    padding-right: 1em;
}

#top-nav-container>h3 {
    display: none;
    font: bold 1.8em/1.2em 'Oswald', arial, sans-serif;
    color: #003965;
}

#top {
    z-index: 99998!important;
    position: fixed;
    width: 100%;
    top: 0 !important;
    display: block !important;
    background: rgba(0, 57, 104, .9);
}


/*-------------------------------------------------------------------------------------------*/


/* 2. Top Nav END */


/*-------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------*/


/* 3.MAIN Nav */


/*-------------------------------------------------------------------------------------------*/


#logo>a>img {
    top: 32px;
    height: 3.2em !important;
    float: left;
    z-index: 99998 !important;
    position: inherit;
}

#logo>span {
    display: none;
}

#logo {
    /*margin-left: 5%;*/
    max-width: 100%;
    display: none;
}

#section-menu {
    display: inline-flex;
}

#media-buttons {
    position: relative;
    margin: auto;
}

#socials {
    list-style-type: none;
    display: inline-block;
    margin: auto;
    padding-right: 2em;
}

#socials>li {
    display: inline-flex;
}

#facebookSVG:hover {
    fill: #bd8100;
}

#twitterSVG:hover {
    fill: #bd8100;
}

#content-container>div>hr {
    display: none;
}

#socials>li>a {
    font: 300 1em 'PT Sans', arial, sans-serif;
    padding: 0;
    display: inline-block;
}

#testingtesttest.media-buttons {
    display: inline-flex;
    float: right;
}

#nav-container {
    float: left;
    position: relative;
    /*top: 15em;*/
    z-index: 99997;
    width: 100%;
    background: linear-gradient(45deg, #c4918a 20%, #6093c4 80%);
    box-shadow: 0 10px 20px 1px rgba(86, 86, 86, .3);
}

#section-menu>h3 {
    display: none;
}

#section-menu>a, span {
    display: inline;
    float: right;
}

#section-menu>a>span {
    padding: 1em;
    font-family: sans-serif;
}

#main-menu {
    padding-left: 1em;
    display: flex;
}

#main-menu>a {
    margin: auto;
    padding-right: 5em;
}

#main-menu>a>span {
    font: 300 1em 'PT Sans', arial, sans-serif;
    color: #f3f3f3;
}

#main-menu>#section-menu {
    position: relative;
    width: 100%;
}

#main-menu-list>li>a {
    font: 300 1em 'PT Sans', arial, sans-serif;
    padding: 1em;
    display: inline-block;
}

#main-menu-list>li {
    float: left;
}

#main-menu-list {
    list-style-type: none;
    display: inline-block;
    margin: auto;
    /*margin: auto;*/
    float: left;
    padding-left: 1em;
}


/*-------------------------------------------------------------------------------------------*/


/* 3.MAIN Nav END */


/*-------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------*/


/* 4. CONTENT */


/*-------------------------------------------------------------------------------------------*/

.entry-title>h3 {
    display: inline-block;
}

.TESTING {
    font: 300 1em 'PT Sans', arial, sans-serif !important;
    margin: 1rem;
    padding: 1rem 2rem;
    background-color: rgb(84, 95, 120);
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    webkit-box-shadow: 0 0 6px 1px rgba(86, 86, 86, .3);
    box-shadow: inset 0px 0px 9px 3px rgba(25, 18, 12, 0.6);
    transition: box-shadow .5s;
}

.TESTING:hover {
    transition: box-shadow 1s;
    box-shadow: inset 0px 0px 9px 3px rgb(0, 0, 0);
}

.entry {
    /*margin: 0 0rem 2rem 0rem;*/
    /*padding: 0 1rem 1rem 1rem;*/
    background-color: rgba(255, 255, 255, 0.14);
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    /*border-bottom: 1px solid rgba(0, 0, 0, .1);*/
    webkit-box-shadow: 0 0 6px 1px rgba(86, 86, 86, .3);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3)
}

.product-splash-left>a {
    width: 100%;
}

#ProductTesting {
    width: 100%;
    position: relative;
    -webkit-mask: url(#Layer_1), 350px 350px;
    -webkit-mask-type: luminance;
    -webkit-mask-mode: alpha;
}

#BOTWTestingThumb {
    max-width: 33.33%;
    position: absolute;
}

#SwitchThumb {
    max-width: 33.33%;
    position: absolute;
    right: 0;
}

#product-splash-switch-test {
    box-shadow: 0 0 6px 1px rgba(86, 86, 86, .3);
    /*border-bottom: 1px solid rgba(0, 0, 0, .1);*/
}

#product-splash-zelda-test {
    box-shadow: 0 0 6px 1px rgba(86, 86, 86, .3);
    /*border-bottom: 1px solid rgba(0, 0, 0, .1);*/
}

#title-of-post {
    color: rgba(255, 255, 255, 0.7);
    font-size: .75rem;
}

#main>article>section {
    /*display: inline-flex;*/
}

#main>article>header {
    display: none;
}

#sidebar-container {
    position: absolute;
    display: inline-block;
    /*top: 20rem;*/
    margin: 0 2.5%;
}

#sidebar-container.sidebar {
    margin-bottom: 3rem;
    height: auto;
    font: 300 1em 'PT Sans', arial, sans-serif !important;
    padding: 0 1rem 1rem 1rem;
    background-color: rgb(255, 255, 255);
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    webkit-box-shadow: 0 0 6px 1px rgba(86, 86, 86, .3);
    box-shadow: 0 0 6px 1px rgba(86, 86, 86, .3);
}

#sidebar-content-container {
    padding: 1rem 1rem;
    margin-top: 1em;
    background-color: rgba(0, 0, 0, .05);
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    webkit-box-shadow: 0 0 6px 1px rgba(86, 86, 86, .3);
    box-shadow: 0 0 6px 1px rgba(86, 86, 86, .3);
}

.sidebar-entry-title {
    display: inline;
}

#sidebar-content-container>a {
    margin-bottom: 1em;
    display: inline-flex;
    font-size: .9em !important;
}

#content-wrapper {
    display: inline-block;
    width: 70%;
    /*padding-top: 15rem;*/
}

.product-splash-left {
    position: relative;
}

.product-splash-right {
    position: relative;
}

div.product-splash-left>a {
    font-size: 5em;
    font-family: sans-serif;
    display: inline-flex;
    margin: auto;
    margin-left: 0;
}

div.product-splash-right>a {
    font-size: 5em;
    font-family: sans-serif;
    display: inline-flex;
    margin: auto;
    margin-right: 0;
}

#content-container {
    padding: 0 1rem 1rem 1rem;
}

#content {
    margin: 0 0 2rem 10%;
    background-color: rgba(42, 72, 104, 1);
    z-index: 2;
    padding: 1rem;
}

#bottom-nav-container>h3 {
    display: none;
}

#bottom-nav>li {
    padding: 0em 1em;
    float: left;
    display: inline;
}

#bottom-nav {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    background: rgba(0, 57, 104, .9);
    text-align: center;
}

#bottom-nav-container {
    width: 100%;
    margin: auto;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
